{% extends "base.html" %}
{% block content %}
<p>
  <h2 id="questions">
    <a href="/u/{{user.login}}">{{user.login}}</a> /
    <a href="/q/{{user.login}}">questões</a> /
    <a href="/b/{{user.login}}">questionários</a> /
    <a href="/s/{{user.login}}">favoritos</a>
  </h2>
</p>
<hr>
<p>
  <h2>Últimas questões</h2>
  {% for q in questions %}
  <div class="question-content">
    <a href="/q/{{ q.key }}">
    {% autoescape false %}
    {{ q.html_content }}
    {% endautoescape %}
    </a>
  </div>
  <ul>
    <li>Autor: <a href="/u/{{user.login}}">{{ q.user.login }}</a></li>
    <li>Disciplina: {{ q.subject }}</li>
    <li>Registro: {{ q.date_created }}</li>
  </ul>
  <p>
    {{ q.tags | join(', ') }} — 
    <a href="/f/{{ q.key }}">gostei</a> — 
    <a href="/q/edit/{{ q.key }}">editar</a> — 
    <a href="/q/delete/{{ q.key }}">apagar</a>
  </p>
  <hr size=1 noshade=noshade>
  {% endfor %}
</p>
<!-- <p>
  <h2 id="questionnaires">
    <a href="{{user.login}}">{{user.login}}</a> / <a href="/b/{{user.login}}">questionários</a>
  </h2>
</p>
<p>
  <h2 id="favorites">
    <a href="{{user.login}}">{{user.login}}</a> / <a href="/s/{{user.login}}">favoritos</a>
  </h2>
</p> -->
{% endblock %}
