{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block header %}
<p>
  <h2 id="questions">
    <a href="/u/{{user.login}}">{{user.login}}</a> /
    <a href="/q/{{user.login}}">questões</a> /
    <a href="/b/{{user.login}}">questionários</a> /
    <a href="/s/{{user.login}}">favoritos</a>
  </h2>
</p>
{% endblock %}
{% block content %}
<p>
  <h2>Últimas questões</h2>
  {% for q in questions %}
  {{ macros.question_content(q) }}
  {{ macros.question_detail(q) }}
  <hr size=1 noshade=noshade>
  {% endfor %}
</p>
<!-- <p>
  <h2 id="questionnaires">
    <a href="{{user.login}}">{{user.login}}</a> / <a href="/b/{{user.login}}">questionários</a>
  </h2>
</p>
<p>
  <h2 id="favorites">
    <a href="{{user.login}}">{{user.login}}</a> / <a href="/s/{{user.login}}">favoritos</a>
  </h2>
</p> -->
{% endblock %}
