{% extends "base.html" %}
{% block content %}
<p>
  <h2>
    <a href="/u/{{user.login}}">{{user.login}}</a> / <a href="/s/{{user.login}}">favoritos</a>
  </h2>
  <ul>
    {% for q in questions %}
    <li>
      <a href="/q/{{ q.key }}">{{ q.content.text }}</a>
      <ul>
        <li>Disciplina: {{ q.subject }}</li>
      </ul>
      <p>
        {{ q.tags }} — compartilhar — gostei — <a href="/q/edit/{{ q.key }}">editar</a> — <a href="/q/delete/{{ q.key }}">apagar</a>
      </p>
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
