{% macro question_content(q) -%}
<div class="question-content">
  <a href="/q/{{ q.key }}">
  {% autoescape false %}
  {{ q.html_content }}
  {% endautoescape %}
  </a>
</div>
{%- endmacro %}

{% macro question_detail(q, session_user, to='home') -%}
<ul>
  <li>Autor: <a href="/u/{{q.user.login}}">{{ q.user.login }}</a></li>
  <li>Disciplina: {{ q.subject }}</li>
  <li>Registro: {{ q.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</li>
</ul>
<p>
  <a href="/f/{{ q.key }}?r={{ to }}">{{ "disgostei" if q.key in session_user.favorites else "gostei" }}</a> — 
  <a href="/q/edit/{{ q.key }}">editar</a> — 
  <a href="/q/delete/{{ q.key }}">apagar</a> — 
  Tags: {# q.tags | map(link_tag) | join(', ') #}
  {% for tag in q.tags %}
  {{ link_tag(tag) }}&nbsp;
  {% endfor %}
</p>
{%- endmacro %}

{% macro link_tag(tag) -%}
<a href="/q/tag:{{ tag }}" alt="Listar tag {{ tag }}">{{ tag }}</a>
{%- endmacro %}

{% macro list_questions(questions, session_user, to='home') -%}
{% for q in questions %}
{{ question_content(q) }}
{{ question_detail(q, session_user, to) }}
{% endfor %}
{%- endmacro %}