{% extends "base.html" %}
{% block content %}
<h2 id="question">
  <a href="/u/{{ question.user.login }}">{{ question.user.login }}</a> / <a href="/q/{{ question.user.login }}">questões</a>
</h2>
<p>
  <label for="subject">Author:</label> {{ question.user.login }} <br>
  <label for="subject">Disciplina:</label> {{ question.subject }} <br>
  <label for="tags">Tags:</label> {{ question.str_tags }} <br>
  {% autoescape false %}
  <div class="question-content">
    {{ question.html_content }}
  </div>
  {% endautoescape %}
</p>
{% endblock %}
